@font-face{
	font-family: Roboto;
	src: url("Roboto.woff");
}

*{
	font-family: Roboto;
	padding: 0px;
	margin: 0px;
}

.A19-Header{
	padding: 60px;
	text-align: center;
	background-color: #0A81BE;
	color: white;
	font-size: 30px;
}

.A19-nav>ul>li:last-child{
	float: right;
}


.A19-nav>ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #0A81BE;
}

.A19-nav>ul>li{
	float: left;
}

.A19-nav>ul>li>a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

.A19-nav>ul>li>a:hover{
	background-color: #0FB9BF;
}

.mainbg{
	background-color: #A7CAD4;
}

.A19-link-cards{
	text-align: center;
	margin: auto 0px;
}

.link-card h5{
	border: 1px solid black;
	color: black;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.link-card{
	display: inline-block;
	width: 30%;
}

.pfp{
	display: inline-block;
	width: 100px;
	height: 100px;
}