@font-face{
	font-family: Roboto;
	src: url("Roboto.woff");
}

*{
	font-family: Roboto;
	padding: 0px;
	margin: 0px;
	/**scroll-bar-v: **/
}

.A19-Header{
	padding: 60px;
	text-align: center;
	background-color: #0A81BE;
	color: white;
	font-size: 30px;
}




.A19-nav>ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #0A81BE;
}

.A19-nav>ul>li{
	float: left;
}

.A19-nav>ul>li>a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

.A19-nav>ul>li>a:hover{
	background-color: #0FB9BF;
}








.A19-link-cards>ul>li{
	border: 1px solid black;
	display: inline-block;
	width: 20%;
	margin: 10px;
	padding: 10px;
	height: 100px;
	overflow: auto;
}

.A19-link-cards>ul>li>a{
	text-align: left;
	color: black;
	text-decoration: none;
	padding: 10px;
}

.A19-link-cards>ul{
	width: 90%;
	list-style: none;
}

.mainbg{
	background-color: #A7CAD4;
}