@font-face {
	font-family: Lucida;
	src: url(Lucida.ttf);
}
*{
  font-family: Lucida;
  background-color: black;
  color: #00ff00;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Lucida;
  margin-left: 240px;
}
h1 {
  font-family: Lucida;
}
li {
  color: #818181;
}
a {
  color: #818181;
}
a:hover {
  color: #00ff00;
}
p {

}
.here {
  color: #00ff00;
}
.bovenbutton h5 {
  float: right;
  width: 150px;
  margin: 10px;
  padding: 5px;
  color: black;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #00ff00;
  border-radius: 5px;
}
.bovenbutton h5:hover {
  float: right;
  width: 150px;
  margin: 10px;
  padding: 5px;
  background-color: #e6e6e6;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #00ff00;
  border-radius: 5px;
}
/*css voor de knoppen*/
.btn {
  border: 2px solid black;
  background-color: black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
/*kleuren voor de knoppen*/
/* Green */
.index {
  border-color: #4CAF50;
  color: green;
}

.index:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.ervaring {
  border-color: #2196F3;
  color: dodgerblue
}

.ervaring:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.contact {
  border-color: #ff9800;
  color: orange;
}

.contact:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #00ff00;
  display: block;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #00ff00;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}