div#section
    h1 Getting into touch with me
    p
        |Anyone is able to contact me via the following platforms:

    ul
        li Email: luc.dewit@hotmail.nl
        li Mobile: 06-46898375
        li Github: justlucdewit
        li Discord: luke_#7841
        li Reddit: lucdewit

    p 
        |if I get bothered by you on any of these platforms by
        |for example spamming or other things, you will simply get blocked