div#section
    h1 welcome in my programming log book!

    p 
        |I am Luke, and i personally really love programming, 
        |hence why I've done it scince 2014 (by making terrible
        |batch scripts) I learned the core concept of batch pretty
        |and started to making text based games and learned alot about
        |if statements, input/output etc.
    
    p
        |later, I discorverd HTML, I thought it was sooo cool to make
        |my own websites, then i heard about css and javascript and started
        |learning those languages so I can make my websites way more 
        |impressive

    p
        |then in 2017 it really took off, i learnd about git/github and how
        |to work together with other people. I also got into desktop 
        |development (Python, c, rust etc)

    p
        |this is my top 5 programming languages:
        ul
            li python
            li rust
            li c
            li typescript
            li javascript

    p 
        |this website is meant to be a place where i can share how my life 
        |is going, how my projects are going and what i am learning/have 
        |learned.