body {
	margin: 0;
	padding: 0;
}
/* Styling the header */	
div.header {
	position: relative;
	width: inherit;
	background-color: white;
	margin-top: -1.1%;		 
}
ul.head {
	list-style-type: none;
	float: center;
	color: black;
	background-color: white;
	padding-top: 1.4%;
	padding-bottom: 1%;
	text-align: center;
	padding-bottom: 2%;
	/* background-image: linear-gradient(to right top, #da51e5, #bd67eb, #a176ec, #8a81e7, #7888dd, #6595e4, #55a0e7, #4aabe7, #00c1f5, #00d7fb, #00ecf8, #00ffef);
	*/
}
/* Menu items */
li a.menu {
	list-style-type: none;
	font-weight: bold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-left: 3%;
	font-size: 82%;
	letter-spacing: 0.5px;
}

li a.menutim {
	list-style-type: none;
	font-weight: bold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-left: -1%;
	margin-right: 26%;
	font-size: 90%;
	letter-spacing: 0.5px;
}
/* Contact */
li a.menucontact {
	list-style-type: none;
	font-weight: bold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 82%;
	letter-spacing: 0.5px;
	margin-left: 35.5%;
}
/* Contact page */
li a.activemenucontact {
	list-style-type: none;
	font-weight: bold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 82%;
	letter-spacing: 0.5px;
	margin-left: 35.5%;
	color:#55BCC9;
}
/* Active menu item */
li a.activemenu {
	list-style-type: none;
	font-weight: bold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-left: 3%;
	font-size: 82%;
	color:#55BCC9;
	letter-spacing: 0.5px;
}


/* Hr */
hr.h {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	margin-top: -1.1%;
}
/* Header logo */
.logo {
	float: left;
	margin-top: -0.4%;
	margin-right: 15.5%;
	width: 17.5%;
}



/* Contact page */
div.contact {
	position: relative;
}

.contacthead {
	margin-left: 5%;
	font-size: 150%;
	margin-top: 2.7%;
	margin-bottom: 2.7%;
	color: #3685b5;
}
.headertext {
	margin-top: 2.0%;
	margin-left: 5%;
	margin-bottom: -1%;
	font-size: 120%;
	text-decoration: none;
	text-align: left;
	color: #ac80a0;
}
.text {
	margin-left: 5%;
	margin-bottom: -0.9%;
	text-align: left;
}
/* Styling active, hover and visited */
a.menu:hover, a.menucontact:hover {
	border-bottom: 2px solid #328CC1;
}

.headerlink {
	color: #ac80a0;
	text-decoration: none;
}
.headerlink:visited {
	color: #ac80a0;
}

.textlink {
	text-decoration: underline;
	color: black;
}
.textlink:visited {
	color: black;
}

.textlink:hover {
	color: #328CC1;
}

/* Fill in form contact.html */
form {
	float: right;
	margin-right: 41%;
}

.formhead {
	margin-top: 1.5%;
	margin-right: 41.2%;
	margin-bottom: -1%;
	font-size: 120%;
	text-decoration: none;
	float: right;
	font-size: 150%;
	color: #3685b5;
}

#t1, #t2, #t3, #t4 {
	border: 2px solid lightgray;
	border-radius: 10px;
	padding: 2%;
}

#t5 {
	border-radius: 100px;
	border: hidden;
	padding: 2%;
	/* border: 2px solid red; */
	width: 104%;

}
textarea {
	text-decoration: none;
}

@media (max-width: 700px) {
	body {
		font-family: 'Roboto', sans-serif, Helvetica;
	}
	/* HEADER FOR MOBILE */
	li a.menutim {
		display: block;
		margin-right: 40%;
		margin-left: 25%;
		text-align: center;
	}
	li a.menu {
		margin-left: 3%;
	}
	li a.menucontact, li a.activemenucontact {
		margin-left: 3%;
		margin-right: 10%;
	}

	/* CONTACT */
	div.contact {
		position: relative;
	}
	
	.contacthead {
		margin-left: 20%;
		font-size: 125%;
	}
	.headertext {

		margin-left: 25%;
		margin-bottom: -1%;
		font-size: 110%;
	}
	.text {
		margin-left: 25%;
		margin-bottom: -0.9%;

	}


	/* FORM CONTACT.HTML */
	/* Fill in form contact.html */
	form {
		float: right;
		margin-right: 41%;
	}

	.formhead {
		font-size: 115%;
		margin: 0;
		margin-left: 20%;
		float: left;
		margin-bottom: -15%;
	}

	#t1, #t2, #t3, #t4 {
		margin-left: 32.5%;
	}

	#t5 {
		margin-left: 32.5%;
		margin-bottom: 5%;
	}
	textarea {
		margin-left: 32.5%;
		height: 56px;
		width: 253px;
	}
}