/**     Color pallet
#f6f6f6
#ee2b47
#2c2e3e
#34374c

#ff71ce
#01cdfe
#05ffa1
#b967ff
#fffb96
**/
#header                                      {
    font-family: 'Roboto', sans-serif        ;
    position: fixed                          ;
    top: 20px                                ;
                                             }

body                                         {
    background-color: #34374c              ;
    font-family: 'Roboto', sans-serif        ;
    margin: 0px                              ;
    padding: 0px                             ;
                                             }

p                                            {
    font-family: 'Roboto', sans-serif        ;
    font-size: 22px                          ;
    position: relative                       ;
    top: 50px                                ;
    color: #f6f6f6                         ;
                                             }


nav.navBar ul                                {
    font-family: 'Roboto', sans-serif        ;
    list-style-type: none                    ;
    margin: 0px                              ;
    padding-left: 15px                       ;
    overflow: hidden                         ;
    background-color: #2c2e3e              ;
    margin-bottom: 5px                       ;
    top: 0px                                 ;
    border-radius: 2%                        ;
    position: sticky                         ;
                                             }

nav.navBar ul li                             {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif        ;
    display: block                           ;
    color: #f6f6f6                         ;
    text-align: center                       ;
    padding: 14px 16px                       ;
    text-decoration: none                    ;
    float: left                              ;
                                             }

nav.navBar ul li a                           {
    text-decoration: none                    ;
    font-family: 'Roboto', sans-serif        ;
    color: #f6f6f6                         ;
    text-align: center                       ;
    padding: 12px                            ;
    margin: 1px                              ;
    font-weight: bold                        ;
    letter-spacing: 2px                      ;
    font-size: 18px                          ;
                                             }

                                             
#return                                      {
     float: right                            ;
                                             }
                                              
#active                                      {
    color: #ee2b47                         ;
                                             }
                                           
nav.navBar ul li a:hover , #active:hover     {
   background-color: #ee2b47               ; 
   color: #ffffff;                         ;
                                             }


#contactList li                              {
    list-style-type: none                    ;
                                             }

#contactText                                 {
    font-size: 150%                          ;
                                             }

.contactInfo                                 {
    margin: 1px                              ;
    padding: 15px                            ;
                                             }

.contactInfo a                               {
    color: #ffffff                         ;
    text-decoration: none                    ;
                                             }

.contactInfo a:hover                         {
    color: #ffffff                         ;    
                                             }

#studyCur li , #studyPast li                 {
    list-style-type: none                    ;
                                             }

#workingExperience li                        {
    list-style-type: none                    ;
                                             }
                                             
#pastExp                                     {
    color: #ff71ce                         ;
    left: 320px                              ;
    position: absolute                       ;
    top: 395px                               ;
    font-size: 32px                          ;
    float: left                              ;
    margin-bottom: 20px                      ; 
    padding: 17px                            ;
                                             }

#workExp                                     {
    color: #ff71ce                         ;
    position: absolute                       ;
    font-size: 18px                          ;
    left: 360px                              ;
    top: 480px                               ;
    float: left                              ;
    margin-top: 10px                         ;
                                             }         
                                             
#pastStud                                    {
    color: #05ffa1                         ;
    font-size: 32px                          ;
    top: 110px                               ;
    left: 160px                              ;
                                             }  

#studP                                       {
    color: #05ffa1                         ;
    top: 310px                               ;
    position: absolute                       ;
    left: 180px                              ;
    font-size: 18px                          ;
                                             }

#curStud                                     {
    color: 	#fffb96                        ;
    left: 10px                               ;
    font-size: 32px                          ;
                                             }

#stud                                        {
    color: 	#fffb96                        ;
    top: 180px                               ;
    left: 10px                               ;
    position: absolute                       ;
    font-size: 18px                          ;
                                             }

.dlbutton                                    {
    font-size: 18px                          ;
    font-weight: bolder                      ;
    background-color: #ee2b47              ;
    border: none                             ;
    color: white                           ;
    cursor: not-allowed                      ;
    position: relative                       ;
    padding: 20px 20px                       ;
    margin-top: 40px                         ;
    margin-left: 320px                       ;    
                                             }

#CVText                                      {
    position: relative                       ;
    max-width: 50%                           ;
    color: #b967ff                         ;
    font-size: 32px                          ;
                                             }

#CV                                          {
    position: relative                       ;
    top: 360px                               ;
    left: 530px                              ;   
                                             }